{% extends "base.html" %}

{% block title %}
Поиск вакансии
{% endblock %}


{% block container %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Поиск вакансии</h1>
</div>

<!-- Content Row -->
<div class="row">
   <div class="col-lg-5 align-items-center" ></div> <!--  bg-register-image-->
        <div class="p-6">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Найти вакансию!</h1>
            </div>
            <form class="user" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary btn-user btn-block">Найти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
